<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <form action="/buttons" method="post">
      Page being tested:<br>
      <input type="text" name="page">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
